<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>MyWeb</title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">

<!-- Grab jQuery from a CDN, fall back to local if necessary -->

</head>
<body>
<% content %>
<div id="footer">
Powered by <a href="https://new.vk.com/orange_chaton">ochaton</a><!--  <% dancer_version %> -->
</div>
</body>
</html>
