<!--
	This is registration page created for
	project in Technosphera-perl.

	Created by Orange Chaton Monday 18 April 2016.
	Thanks for good wiki! :)

-->

<div id="page">
	<div id="content">
		<h1><% msg %></h1>
	</div>
</div>
<div name="sign">
</div>