body {
margin: 0;
margin-bottom: 25px;
padding: 0;
font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

#text {
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 13pt;
	color: #555;
}

#auth {
/* border: 1px solid; */
/* border-color: #add; */
height: 100%;
margin: auto;
margin-top: 200px;
padding: 8px;
width: 220px;
}

#reg {
/* border: 1px solid; */
/* border-color: #add; */
height: 100%;
margin: auto;
margin-top: 200px;
padding: 8px;
width: 600px;
}

#user_page {
border: 1px solid;
border-color: #add;
height: 100%;
margin: auto;
margin-top: 200px;
padding: 8px;
width: 600px;
}

#user_img {
border: 1px solid;
border-color: #add;
border-radius: 100px;
width: 200px;
height: 200px;
float: left;
margin-right: 5px;
}

#user_text {
border: 1px solid;
border-color: #123;
padding-left: 5px;
padding-right: 5px;
float:right;
}

#user_settings {
margin-top: 5px;
padding: 2px;
border: 1px dotted #aaa;
}

#sigbut, #regbut {
	border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;    
}

#sigbut {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 25px;
}

#regbut {
	background-color: #e7e7e7; /* Gray */
    color: black;
    padding: 15px 20px;
    float: right;
}

#input {
	border: none;
	border-bottom: 1px solid #ddd;
	height: 30px;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 13pt;
	padding: 8px 12px;
}

#reginput {
	border: 1px solid #ddd;
	height: 20px;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 13pt;
	padding: 8px 12px;	
}

#footer {
	margin-top: 10px;
	text-align: center;
}

#error_login {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 11pt;
	color: #600;
}
